{% extends 'dashboard/layout.html' %} {% block page_title %} Dashboard - Informasi Penjualan {% endblock %} {% block container %}
<div class="container-fluid">
    <!--  Row 1 -->
    <div class="row">
        <div class="col-lg-12 col-12 d-flex flex-column">
            <div class="card">
                <div class="card-body position-relative">
                    <h3 class="mb-4">
                        Beli Hasil Pertanian Terbaik dari <br />
                        Petani <strong>RINDANG</strong>
                    </h3>
                    <p class="mb-4">
                        Dapatkan hasil pertanian berkualitas dan terjamin <br />
                        dengan membeli langsung ke Petani <strong>RINDANG</strong>
                    </p>
                    <a href="#" class="btn btn-green btn-lg">Hubungi</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
