{% extends 'base.html' %} {% block content %}
<h1 class="fw-bold mb-4 text-center">Terms & Conditions</h1>
<div class="card card-body border-0 shadow-sm">
    <p class="fw-bold fs-5">Selamat Datang di RINDANG</p>
    <p>
        Syarat & Ketentuan ini (“Ketentuan”) mengatur akses dan penggunaan Anda atas RINDANG, termasuk aplikasi web, situs web, fitur, konten, dan layanan yang disediakan oleh Ternate Creative Space atau afiliasinya (“kami”, “milik kami”,
        atau “kita”).
    </p>
    <p><strong>Harap baca Ketentuan ini dengan saksama sebelum menggunakan RINDANG</strong>. Dengan mengakses atau menggunakan RINDANG, Anda (“Anda” atau “Pengguna”) menyatakan bahwa:</p>
    <ul>
        <li>Anda telah membaca, memahami, dan menyetujui untuk terikat dengan Ketentuan ini;</li>
        <li>Anda berusia minimal 18 tahun dan memiliki kapasitas hukum untuk menyetujui Ketentuan ini; dan</li>
        <li>Jika Anda mengakses atau menggunakan RINDANG atas nama suatu entitas, Anda menyatakan dan menjamin bahwa Anda berwenang untuk mengikat entitas tersebut dengan Ketentuan ini.</li>
    </ul>
    <p>Jika Anda tidak menyetujui Ketentuan ini, Anda tidak boleh mengakses atau menggunakan RINDANG.</p>
    <ol>
        <li class="mb-3">
            <p class="fw-bold">Deskripsi layanan</p>
            <p>
                RINDANG adalah platform sistem informasi dan manajemen produksi pertanian yang dirancang untuk membantu pengguna dalam merencanakan, memantau, dan mengelola kegiatan pertanian mereka. RINDANG menyediakan berbagai fitur,
                termasuk namun tidak terbatas pada:
            </p>
            <ul>
                <li>Autentikasi Pengguna: Pengguna harus membuat akun dan masuk untuk mengakses dan menggunakan fitur-fitur RINDANG.</li>
                <li>Dashboard Pengguna: Menyediakan ringkasan informasi dan data pertanian yang dipersonalisasi.</li>
                <li>Input Data Produksi: Memungkinkan pengguna untuk mencatat dan melacak data produksi pertanian mereka.</li>
                <li>Export Laporan: Memfasilitasi pembuatan dan pengunduhan laporan produksi dalam berbagai format.</li>
                <li>Statistik Produksi: Menyajikan visualisasi data dan analisis statistik untuk membantu pengguna memahami tren produksi.</li>
                <li>Harga Pangan: Memberikan informasi terkini tentang harga komoditas pertanian di pasar.</li>
                <li>Real-time Prakiraan Cuaca: Menampilkan informasi cuaca real-time yang relevan dengan lokasi pengguna.</li>
            </ul>
        </li>

        <li class="mb-3">
            <p class="fw-bold">Akun Pengguna</p>
            <ol>
                <li>
                    Anda bertanggung jawab untuk menjaga kerahasiaan akun dan kata sandi Anda, dan Anda sepenuhnya bertanggung jawab atas semua aktivitas yang terjadi di bawah akun Anda. Anda setuju untuk segera memberi tahu kami tentang
                    setiap penggunaan akun Anda yang tidak sah atau pelanggaran keamanan lainnya.
                </li>
                <li>Anda tidak boleh menggunakan akun orang lain kapan pun. Kami tidak bertanggung jawab atas kerugian atau kerusakan yang timbul dari kegagalan Anda untuk mematuhi kewajiban ini.</li>
            </ol>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Penggunaan yang Dilarang</p>
            <p>Anda setuju untuk tidak menggunakan RINDANG untuk tujuan apa pun yang melanggar hukum, menyinggung, atau berbahaya, atau yang melanggar Ketentuan ini. Anda secara khusus setuju untuk tidak:</p>
            <ul>
                <li>Menggunakan RINDANG dengan cara apa pun yang dapat menonaktifkan, membebani, atau merusak RINDANG, atau mengganggu penggunaan RINDANG oleh pihak lain.</li>
                <li>Menggunakan robot, scraper, atau cara otomatis lainnya untuk mengakses RINDANG untuk tujuan apa pun.</li>
                <li>Mencoba untuk mendapatkan akses tidak sah ke RINDANG, akun pengguna lain, atau sistem atau jaringan apa pun yang terhubung ke RINDANG.</li>
                <li>
                    Mengunggah atau mengirimkan konten apa pun yang melanggar hukum, berbahaya, mengancam, kasar, memfitnah, vulgar, cabul, memfitnah, invasif terhadap privasi orang lain, penuh kebencian, atau tidak pantas secara ras atau
                    etnis.
                </li>
                <li>Mengunggah atau mengirimkan materi apa pun yang melanggar hak kekayaan intelektual pihak ketiga mana pun.</li>
                <li>Meniru individu atau entitas mana pun, atau membuat pernyataan palsu atau menyesatkan tentang afiliasi Anda dengan individu atau entitas mana pun.</li>
                <li>Mengganggu atau mengganggu RINDANG atau server atau jaringan yang terhubung ke RINDANG.</li>
                <li>Melanggar hukum atau peraturan yang berlaku.</li>
            </ul>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Hak Kekayaan Intelektual</p>
            <p>
                RINDANG dan semua hak kekayaan intelektual yang terkandung di dalamnya, termasuk namun tidak terbatas pada, hak cipta, paten, merek dagang, dan rahasia dagang, dimiliki oleh Ternate Creative Space atau pemberi lisensinya.
                Anda tidak boleh menyalin, memodifikasi, mendistribusikan, menjual, menyewakan, mensublisensikan, atau merekayasa RINDANG atau bagian apa pun darinya tanpa izin tertulis dari Ternate Creative Space.
            </p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Penghentian</p>
            <p>
                Kami dapat menghentikan akses Anda ke RINDANG atau bagian apa pun darinya kapan saja, dengan atau tanpa alasan, dengan atau tanpa pemberitahuan sebelumnya, yang berlaku seketika. Kami tidak akan bertanggung jawab kepada Anda
                atas penghentian akses Anda ke RINDANG.
            </p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Disclaimer</p>
            <p>
                RINDANG disediakan “sebagaimana adanya” dan “sebagaimana tersedia”. Kami tidak membuat pernyataan atau jaminan apa pun, tersurat maupun tersirat, mengenai pengoperasian RINDANG atau informasi, konten, materi, atau produk
                yang disertakan di dalamnya. Sejauh diizinkan oleh hukum yang berlaku, kami dengan ini melepaskan semua jaminan, tersurat maupun tersirat, termasuk namun tidak terbatas pada, jaminan tersirat tentang kelayakan untuk
                diperdagangkan dan kesesuaian untuk tujuan tertentu.
            </p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Batasan Tanggung Jawab</p>
            <p>
                Dalam keadaan apa pun kami tidak akan bertanggung jawab kepada Anda atas segala kerusakan langsung, tidak langsung, insidental, khusus, konsekuensial, atau hukuman yang timbul dari atau terkait dengan penggunaan atau
                ketidakmampuan Anda untuk menggunakan RINDANG, meskipun kami telah diberitahu tentang kemungkinan kerusakan tersebut.
            </p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Ganti Rugi</p>
            <p>
                Anda setuju untuk mengganti rugi, membela, dan membebaskan kami dari dan terhadap setiap dan semua klaim, kewajiban, kerusakan, kerugian, dan biaya, termasuk biaya pengacara yang wajar, yang timbul dari atau dengan cara apa
                pun terkait dengan akses Anda ke atau penggunaan RINDANG, pelanggaran Ketentuan ini, atau pelanggaran Anda terhadap hak pihak ketiga mana pun.
            </p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Hukum yang Mengatur</p>
            <p>Ketentuan ini akan diatur dan ditafsirkan sesuai dengan hukum Indonesia, tanpa memperhatikan pertentangan ketentuan hukum.</p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Penyelesaian Sengketa</p>
            <p>Setiap sengketa yang timbul dari atau terkait dengan Ketentuan ini akan diselesaikan secara eksklusif di pengadilan yang berwenang di Ternate, Indonesia.</p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Seluruh Perjanjian</p>
            <p>Ketentuan ini merupakan keseluruhan perjanjian dan pemahaman antara Anda dan kami sehubungan dengan penggunaan RINDANG, dan menggantikan semua perjanjian dan pemahaman sebelumnya atau sezaman, baik lisan maupun tertulis.</p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Keterpisahan</p>
            <p>Jika ada ketentuan dari Ketentuan ini yang dianggap tidak sah atau tidak dapat diberlakukan, ketentuan tersebut akan dipisahkan dari Ketentuan ini dan ketentuan yang tersisa akan tetap berlaku sepenuhnya.</p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Pelepasan Hak</p>
            <p>Kegagalan kami untuk menjalankan atau menegakkan hak atau ketentuan apa pun dari Ketentuan ini bukan merupakan pelepasan hak atau ketentuan tersebut.</p>
        </li>
        <li class="mb-3">
            <p class="fw-bold">Perubahan pada Ketentuan</p>
            <p>
                Kami dapat mengubah Ketentuan ini kapan saja dengan memposting Ketentuan yang diubah di RINDANG. Anda bertanggung jawab untuk meninjau Ketentuan ini secara berkala untuk setiap perubahan. Penggunaan RINDANG Anda yang
                berkelanjutan setelah postingan perubahan Ketentuan tersebut merupakan penerimaan Anda atas perubahan tersebut.
            </p>
        </li>
    </ol>
</div>
{% endblock %}
